## Lambda
A lambda function is an anonymous function, with no identifier, that can be declared in place. Since we can take functions as arguments and assign them to variables, the notation that makes it possible to create lambda functions is very handy in many cases.
### Syntax of a lambda
```python
lambda <param list>:<return expression>
```
### lambda examples

In [67]:
def random_function (argument1, argument2, *args, **dict_):
    
    total_of_list = sum(args)
    
    total = argument1 * argument2 * total_of_list
    
    return f"Random numbers is: {total} and age is {dict_['age']}"

In [24]:
random_function (100, 2, 2, 2, **clara)

'Random numbers is: 800 and age is 30'

In [ ]:
sort(iterable, key = lambda x: x[1])
lambdas -> dataframes

# if we dont want to reuse, and we want something quick, we do lambdas

In [334]:
addition = lambda a, b: a + b
addition (2, 3)

5

In [ ]:
def adds_1 (x):
    return x + 1

In [ ]:
# df["column"].apply(adds_1)

In [ ]:
# df["column"].apply(lambda x: x + 1)

In [335]:
say_hi = lambda num: "Hi" if num > 5 else "Hello"

In [337]:
say_hi(6)

'Hi'

In [338]:
say_hi(3)

'Hello'

In [339]:
def says_hi_hello (num):
    if num > 5:
        return "Hi"
    else:
        return "Hello"

In [340]:
says_hi_hello (3)

'Hello'

In [341]:
says_hi_hello (6)

'Hi'

It is also possible to use these anonymous functions as arguments in calls to other functions. For example, in a call to sorted() or list.sort() we can use a lambda function as an argument to the key parameter:

In [25]:
# Criteria: first element of the tuple
sorted(list_of_tuples, key = lambda x: x[0], reverse = False)

[('bcn', 38378373), ('city', 7482), ('murcia', 333)]

In [28]:
# Criteria: second element of the tuple
sorted(list_of_tuples, key = lambda x: x[1])

[('murcia', 333), ('city', 7482), ('bcn', 38378373)]

In [27]:
# Criteria: second element of the tuple
sorted(list_of_tuples, key = lambda x: x[1], reverse = True)

[('bcn', 38378373), ('city', 7482), ('murcia', 333)]

In [29]:
# Q: cabn you do the same with a list?
sorted(["a", "z", "c"])

['a', 'c', 'z']

Lastly, if we want to return the result of a function to another function, we can use any known function in the scope of the returning function, or use a lambda function:

In [5]:
def greater (a, b):
    if a > b:
        return a
    elif b > a:
        return b

In [30]:
def comparisons (types_of_comparison):

    if types_of_comparison == "greater":
        return greater
    elif types_of_comparison == "lesser":
        return lambda x, y: x if x < y else y

In [ ]:
# parameters = placeholders: "name"
# arguemnt = actual value: "sam"

In [31]:
comparisons ("lesser")(10, 5) #lambda function

5

In [32]:
comparisons ("greater")(3, 4) #user-defined function

4

In [21]:
list_of_tuples = [("city", 7482), ("bcn", 38378373), ("murcia", 333)]

In [34]:
# no name
# in-line
# on the spot
# not re-usable (unless you save them)
# they can take many parameters

# Map, Filter, Reduce

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Each-student-is-randomly-assigned-a-topic" data-toc-modified-id="Each-student-is-randomly-assigned-a-topic-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Each student is randomly assigned a topic</a></span></li></ul></li><li><span><a href="#Let's-start" data-toc-modified-id="Let's-start-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Let's start</a></span><ul class="toc-item"><li><span><a href="#Create-groups-with-other-people-who-have-studied-the-same-function" data-toc-modified-id="Create-groups-with-other-people-who-have-studied-the-same-function-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Create groups with other people who have studied the same function</a></span></li></ul></li><li><span><a href="#Map,-Filter,-Reduce" data-toc-modified-id="Map,-Filter,-Reduce-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Map, Filter, Reduce</a></span><ul class="toc-item"><li><span><a href="#Map" data-toc-modified-id="Map-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Map</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Filter" data-toc-modified-id="Filter-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Filter</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Reduce</a></span><ul class="toc-item"><li><span><a href="#What-happened?" data-toc-modified-id="What-happened?-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>What happened?</a></span></li></ul></li><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Bonus:-Do-it-with-lambda!" data-toc-modified-id="Bonus:-Do-it-with-lambda!-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Bonus: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

### Each student is randomly assigned a topic

In [14]:
students = [
    "@Sergi Portoles",
    "@Bernat Bellmunt",
    "@Francesc Andreu Macias",
    "@Guillermo Nespral",
    "@Hugo Alaimo",
    "@Marc Calvente",
    "@Marc Planas",
    "@Marc Dalmau",
    "@Maya Almeida",
    "@Carles Sunyol",
    "@Carlos Muñoz",
    "@Cason Berkenstock",
    "@david ros",
    "@Joan Roca",
    "@Joana Maia",
    "@Joaquin",
    "@Marc Pérez",
    "@Max Tabo",
    "@Nerea Larrachea",
    "@queralt",
    "@Selma Laarabi",
    "@Raphael Hersant"
    "placeholder",
    "placeholder",
    "placeholder"
]

In [15]:
#Group 1: [('Marc', 'map'), ('Carles', 'filter'), ('Nerea', 'reduce')]
#Group 2: [('Marc', 'map'), ('Carles', 'filter'), ('Nerea', 'reduce')]

In [16]:
import random

In [17]:
topics = ["map"] * 8  + ["filter"] * 8 + ["reduce"] * 8

In [18]:
topics

['map',
 'map',
 'map',
 'map',
 'map',
 'map',
 'map',
 'map',
 'filter',
 'filter',
 'filter',
 'filter',
 'filter',
 'filter',
 'filter',
 'filter',
 'reduce',
 'reduce',
 'reduce',
 'reduce',
 'reduce',
 'reduce',
 'reduce',
 'reduce']

In [19]:
len(students)

24

In [20]:
len(topics)

24

In [21]:
import random

In [40]:
random.shuffle(students)
print(students)

['@Maya Almeida', '@Sergi Portoles', '@Marc Planas', '@Bernat Bellmunt', '@Carles Sunyol', 'placeholder', '@Max Tabo', '@Cason Berkenstock', '@Raphael Hersantplaceholder', '@david ros', '@Joan Roca', '@Marc Dalmau', '@Francesc Andreu Macias', '@Selma Laarabi', '@Joana Maia', '@Guillermo Nespral', '@Carlos Muñoz', '@Nerea Larrachea', 'placeholder', '@Marc Calvente', '@Joaquin', '@queralt', '@Hugo Alaimo', '@Marc Pérez']

In [41]:
random.shuffle(topics)
print(topics)

['map', 'filter', 'map', 'filter', 'filter', 'map', 'filter', 'reduce', 'reduce', 'map', 'reduce', 'filter', 'reduce', 'map', 'map', 'reduce', 'reduce', 'filter', 'map', 'filter', 'filter', 'reduce', 'reduce', 'map']

## Let's start

You have 10 minutes to explore and understand the role you have been assigned on your own. You may find these links useful:

- [link 1](https://medium.com/swlh/higher-order-functions-in-python-map-filter-and-reduce-34299fee1b21)
- [link 2](https://www.learnpython.org/en/Map,_Filter,_Reduce)
- [link 3](https://stackabuse.com/map-filter-and-reduce-in-python-with-examples)

### Create groups with other people who have studied the same function

![otrogif](https://media.giphy.com/media/UatRnEUNX8iCQ/giphy.gif)

In this part of the game you are assigned to a group in which you are the expert in your role.
Each group member has 5 minutes to explain their role to the other team members.

In [ ]:
topics & students

In [42]:
alltogether = list(zip(students, topics))

In [43]:
alltogether

[('@Maya Almeida', 'map'),
 ('@Sergi Portoles', 'filter'),
 ('@Marc Planas', 'map'),
 ('@Bernat Bellmunt', 'filter'),
 ('@Carles Sunyol', 'filter'),
 ('placeholder', 'map'),
 ('@Max Tabo', 'filter'),
 ('@Cason Berkenstock', 'reduce'),
 ('@Raphael Hersantplaceholder', 'reduce'),
 ('@david ros', 'map'),
 ('@Joan Roca', 'reduce'),
 ('@Marc Dalmau', 'filter'),
 ('@Francesc Andreu Macias', 'reduce'),
 ('@Selma Laarabi', 'map'),
 ('@Joana Maia', 'map'),
 ('@Guillermo Nespral', 'reduce'),
 ('@Carlos Muñoz', 'reduce'),
 ('@Nerea Larrachea', 'filter'),
 ('placeholder', 'map'),
 ('@Marc Calvente', 'filter'),
 ('@Joaquin', 'filter'),
 ('@queralt', 'reduce'),
 ('@Hugo Alaimo', 'reduce'),
 ('@Marc Pérez', 'map')]

In [50]:
map_experts = list(filter(lambda x: x[1] == "map", alltogether))
filter_experts = list(filter(lambda x: x[1] == "filter", alltogether))
reduce_experts = list(filter(lambda x: x[1] == "reduce", alltogether))

In [52]:
counter = 1
for everyone in zip(map_experts, filter_experts, reduce_experts):
    print(f"Group {counter}: {[[i][0]for i in everyone]}")
    counter += 1

Group 1: [('@Maya Almeida', 'map'), ('@Sergi Portoles', 'filter'), ('@Cason Berkenstock', 'reduce')]
Group 2: [('@Marc Planas', 'map'), ('@Bernat Bellmunt', 'filter'), ('@Raphael Hersantplaceholder', 'reduce')]
Group 3: [('placeholder', 'map'), ('@Carles Sunyol', 'filter'), ('@Joan Roca', 'reduce')]
Group 4: [('@david ros', 'map'), ('@Max Tabo', 'filter'), ('@Francesc Andreu Macias', 'reduce')]
Group 5: [('@Selma Laarabi', 'map'), ('@Marc Dalmau', 'filter'), ('@Guillermo Nespral', 'reduce')]
Group 6: [('@Joana Maia', 'map'), ('@Nerea Larrachea', 'filter'), ('@Carlos Muñoz', 'reduce')]
Group 7: [('placeholder', 'map'), ('@Marc Calvente', 'filter'), ('@queralt', 'reduce')]
Group 8: [('@Marc Pérez', 'map'), ('@Joaquin', 'filter'), ('@Hugo Alaimo', 'reduce')]

## Map, Filter, Reduce

There are three functions that will come in very handy when working with iterators. These functions facilitate certain basic and common operations on iterable collections of data, such as removing elements that do not meet a certain condition, calculating a result from the contained data, or applying a transformation to each element. Let's see them with examples of use:

### Map

The map() function takes a function and a list and applies that function to each element in that list, producing a new list.
```python
map(function_to_apply, list_of_inputs)
```

In [53]:
map_experts[4]

('@Selma Laarabi', 'map')

In [ ]:
# loop -> map
# two arguments -> function & iterable
    # many iterables
    # one-liners vs a for loop
    # map(function, iterable)
    # MAP RETURNS AN OBJECT

In [55]:
def square (n):
    return n ** 2

In [59]:
list_ = [2, 4, 6]

In [60]:
map(square, list_)

In [65]:
new_list = list(map(square, list_))
new_list

[4, 16, 36]

In [66]:
new_list = []
for i in list_:
    new_list.append(i ** 2)
    
new_list

[4, 16, 36]

In [ ]:
# defined function -> defined by me / built-in
# saving the trouble of creating a for loop

#### First we do it with functions

The map function returns an iterator, so we have to use `list(map_iterator)`

#### Extra: Do it with lambda!

In [67]:
list_

[2, 4, 6]

In [ ]:
[4, ...]

In [68]:
new_list = []


# get the square of each in a list with a lambda

In [69]:
list(map(square, list_))

[4, 16, 36]

In [97]:
def square (n):
    a = n ** 2
    print(a)
    return a

In [98]:
list(map(lambda x: x ** 2, list_))

[1, 4, 9]

In [99]:
# Q Marc Pérez: can we do the same with a dictionary?
# iterable in a dictionary: values? the keys?

a_dictionary = {
    "a": 5,
    "b": 10,
    "c": 20
}


a_dictionary.values()

for i in a_dictionary.values():
    print(i ** 2)
    
list(map(lambda x: x ** 2, a_dictionary.values()))

25
100
400

[25, 100, 400]

In [100]:
# Q Maya: can I pass two arguemnts? 
# A: yes, but n arguments for the function should match n number if iterables

def addition (a, b):
    return a + b

iterable = [4, 16, 36]
iterable_2  = [40, 160, 360, 202202]

In [101]:
new_list_two_arguments = list(map(addition, iterable, iterable_2))
new_list_two_arguments

[44, 176, 396]

In [102]:
# Q Max: same with lambda

new_list_two_arguments = list(map(lambda x, y: x + y, iterable, iterable_2))
new_list_two_arguments

[44, 176, 396]

In [103]:
#[(iterable1[0]), (iterable_2[0]), (iterable1[1], iterable1[1])]
# like a zip -> stick to the shortest one

In [104]:
iterable_strings = ["hello" ,"my", "name", "is"]

list(map(lambda x: x.upper(), iterable_strings))

['HELLO', 'MY', 'NAME', 'IS']

In [105]:
list(map(lambda x: x.upper(), iterable_strings))

['HELLO', 'MY', 'NAME', 'IS']

In [ ]:
def square (n):
    a = n ** 2
    print(a)
    return a

In [115]:
import time

In [125]:
%%time
list_ = [1, 2, 3]
new_list = []

for i in list_:
    new_list.append(square(i))
new_list

1
4
9
CPU times: user 385 µs, sys: 161 µs, total: 546 µs
Wall time: 560 µs

[1, 4, 9]

In [126]:
%%time
new_list_2 = list(map(square, list_))
new_list_2

1
4
9
CPU times: user 79 µs, sys: 33 µs, total: 112 µs
Wall time: 87.3 µs

[1, 4, 9]

### Filter

The filter() function filters a list of items for which a function returns True.
```python
filter(a_function, a_list)
```

Imagine you want to filter a list of numbers to get only even values.

In [127]:
filter_experts[7]

('@Joaquin', 'filter')

In [ ]:
# function
    # two args: function & iterable
    # returns a boolean: true or false
# returns a filtered iterable
    # list through the function
    # return a shorter lists with those values that are true

In [ ]:
# one iterable required

In [128]:
all_number = [i for i in range(1, 11)]
all_number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### First we do it with functions

In [ ]:
# smallest value
# later you will loop / iterate / map

In [148]:
# function
   # bool value
    
def even (n):
    if n % 2 == 0:
        return True

In [162]:
# function
   # bool value
    
def even_2 (n):
    if n % 2 == 0:
        return n
    else:
        return "no number"

In [149]:
number = even(3)
number

In [150]:
number = even(2)
number

True

Imagine that you want to filter a list and keep only the groups that start with the letter R

In [151]:
all_number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [152]:
all_number # before filtering

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [153]:
#after filtering
new_filtered_list = list(filter(even, all_number))
new_filtered_list

[2, 4, 6, 8, 10]

In [154]:
# the function you pass: returns True/False
# Filter will return the element depending on the result of your function

In [163]:
# Q Maya: using map on this

list(map(even_2, all_number))

['no number',
 2,
 'no number',
 4,
 'no number',
 6,
 'no number',
 8,
 'no number',
 10]

In [166]:
# Q Maya: using map on this

list(filter(even, all_number))

[2, 4, 6, 8, 10]

In [167]:
list_strings = ["Rosalía", "Bad bunny", "Russian red"]

In [169]:
# 1. For loop

new_list = []

for i in list_strings:
    if i.startswith("R"):
        new_list.append(i)

new_list

['Rosalía', 'Russian red']

In [174]:
# 2. Filter

def starts_with_r (n):
    return n.startswith("R") #bool

starts_with_r ("Bad Bunny")

list(filter(starts_with_r, list_strings))

['Rosalía', 'Russian red']

#### Extra: Do it with lambda!

In [175]:
# 3. Filter & lambda

list(filter(lambda x: x[0] == "R", list_strings))

['Rosalía', 'Russian red']

In [ ]:
# does it take any arguments? it has to

### Reduce

This function is not a built-in function, which means you must first import the functools library for use. The reduce() function cumulatively applies the f() function to the elements of the iterable. The accumulator can be initialized with an optional third argument. The result is the final value of the accumulator.

```python
reduce(function, iterable[, initial])
```

In [176]:
reduce_experts[5]

('@Carlos Muñoz', 'reduce')

In [ ]:
# function
    # two arguments
    # accumulatively 
    # may or may not have an initla argument

In [178]:
from functools import reduce

In [194]:
def addition (a, b):
    #print(a * b)
    return a * b

In [195]:
addition (10, 2)

20

In [196]:
numbers_15 = [i for i in range(1, 16)]
numbers_15

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [197]:
sum(numbers_15)

120

In [198]:
# start: list /iterable
# finishing with a value: just one thing

# map & filter -> iterable to iterable
# reduce -> iterable to number

In [199]:
reduce(addition, numbers_15)

1307674368000

In [209]:
def addition_strings (a, b):
    #print(a * b)
    return a + " " + b

In [210]:
addition_strings("hello", " hi there")

'hello  hi there'

In [211]:
list_of_strings = ["hey", "how", "are", "you", "doing"]

In [229]:
"sdsojbndnjkFNKJNFD"

'sdsojbndnjkFNKJNFD'

In [230]:
" ".join(list_of_strings)

'hey how are you doing'

In [231]:
reduce(addition_strings, "sdsojbndnjkFNKJNFD")

's d s o j b n d n j k F N K J N F D'

In [ ]:
# whatever the result is will be the input for the next one

⚠️ Reduce is a bit more complicated to understand than map() and filter() so let's walk through the following example ⚠️

In [232]:
def add (x, y):
    return x + y

list_ = [2, 4, 7, 3]

reduce(add, list_)

16

#### What happened?
- We start with a list [2, 4, 7, 3] and pass the function add (x, y) to reduce ( ) along with this list, without an initial value

- reduce() calls add(2, 4), and add() returns 6

- reduce() calls sum(6, 7) (result of the previous call to sum() and the next element in the list as parameters), and sum() returns 13

- reduce() calls sum(13, 3), and sum() returns 16

Since there are no more elements left in the sequence, reduce() returns 16

Factorial:
Amount that results from the multiplication of a certain natural number by all the natural numbers that precede it, excluding zero; is represented by n!

### First we do it with functions

### Bonus: Do it with lambda!

In [217]:
print(numbers_15)
reduce(lambda x, y: x * y, numbers_15[:10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

3628800

In [222]:
def keys_list (one_value, value):
    new_list = []
    list_.append(one_value)
    print(list_)
    return list_

In [ ]:
filter(lambda x: x == 5, dictionary.keys())

In [ ]:
reduce(fuction, dictionary)

In [ ]:
# 1. Loop
# 2. Function
# map, filter, reduce
# combination

## Summary

- map
    - takes function + iterable
    - iterable modified
- filter
    - takes function + iterable
    - iterable modified (shorter)
- reduce
    - takes function + iterable
    - one cummulative value
- more efficient ways than just loops
- define our own functions OR we can use lambdas
- reduce is something you need to import
- makes code easier to read
- proccesing is faster because it returns objecfts instead of the lists (memory wise)

## Further materials
http://web.mit.edu/6.005/www/sp16/classes/25-map-filter-reduce/